#createFavour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  min-width: 25vw;
  max-width: 45vw;
  min-height: 40vh;
  max-height: 80vh;
}
.createFavour_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  box-shadow: 0 0 4px 3px rgba(133, 135, 141, 0.12);
  background-color: transparent;
  border-radius: 12px;
}
.createFavour_card:hover {
  box-shadow: 0 0 10px 4px rgba(121, 121, 131, 0.12);
}
.createFavour_content {
  width: fit-content;
}
.createFavour_form {
  height: fit-content;
  width: fit-content;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.proof_btn {
  background-color: transparent;
}
.btn_container {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
}
.create_favour_btn {
  position: relative;
  transition: all 0.35s;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 39px;
  background-color: hotpink;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 25px;
  cursor: pointer;
}
.create_favour_btn span {
  z-index: 2;
}
.create_favour_btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to bottom left, #7e51d0, #4b83e9);
  border-radius: 25px;
  transition: all 0.35s;
}
.create_favour_btn:hover {
  color: #fff;
  opacity: 1;
}
.create_favour_btn:hover:after {
  width: 100%;
}
.cancel_favour_btn {
  position: relative;
  background-color: transparent;
  color: black;
  margin-left: 8px;
  margin-top: 2px;
}
.cancel_favour_btn:hover {
  color: dimgrey;
}
.createFavour_first_line {
  display: flex;
  align-content: flex-start;
  width: inherit;
  font-family: Poppins;
  font-weight: bold;
  font-size: 34px;
}
.createFavour_second_line {
  display: flex;
  align-content: flex-start;
  font-family: Poppins;
  font-weight: bold;
  font-size: 34px;
  margin-top: 3px;
}
.createFavour_third_line {
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  font-weight: bold;
  font-size: 34px;
  margin-top: 4px;
}
.i_text {
  font-family: Poppins;
  font-weight: bold;
  font-size: 35px;
  padding-right: 6px;
}
.a_text {
  font-family: Poppins;
  font-weight: bold;
  font-size: 34px;
  padding-right: 10px;
}
.type_field_unclicked {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  outline: none;
  color: darkgrey;
  background: transparent;
  font-family: Poppins;
}
.type_field_unclicked:hover {
  color: hotpink;
}
.type_field_clicked {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  outline: none;
  color: hotPink;
  background: transparent;
  font-family: Poppins;
}
.type_field_clicked:hover {
  color: darkgrey;
}
.what_menu_label {
  font-size: 34px;
  font-family: Poppins;
  font-weight: bold;
  color: darkgrey;
}
.what_value_label {
  font-size: 34px;
  font-family: Poppins;
  font-weight: bold;
  color: hotpink;
}
.alert_container {
  bottom: 130px;
  position: absolute;
  width: 200px;
}
