#createFavour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 190px;
    padding: 20px;
    min-width: 500px;
    width: 45%;
}
.createFavour_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    height: 75%;
    box-shadow: 0 0 4px 4px rgba(133, 135, 141, 0.12);
    background-color: transparent;
    border-radius: 12px;
    padding: 20px;
}
.createFavour_card:hover {
    /* for right side the, -shadow: -2px -2px 15px 0 rgba(0,0,0,0.2); */
    box-shadow: -2px -2px 10px 0 rgb(226, 226, 226);
}
.createFavour_content {
    width: fit-content;
}
.createFavour_label {

}
.createFavour_form {
    height: fit-content;
    width: fit-content;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.btn_container {
    display: flex;
    flex-direction: row;;
    height: 40px;
    width: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
}
.confirm_favour_btn {
    width: 160px;
    height: 42px;
    background-color: hotpink;
    color: #f3f0ea;
    font-weight: bold;
    font-size: 17px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.confirm_favour_btn:hover{
    color: dodgerblue;
    opacity: 0.7;
}
.cancel_favour_btn {
    background-color: transparent;
    color: black;
    margin-left: 8px;
}
.cancel_favour_btn:hover{
    color: red;
    opacity: 0.7;
}
.createFavour_first_line {
    display: flex;
    align-content:flex-start;
    width: inherit;
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    color: black
}
.createFavour_second_line {
    display: flex;
    align-content:flex-start;
    font-family: Poppins;
    width: inherit;
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin-top: 4px;
}
.createFavour_third_line{
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin-top: 4px;
}
.lets_text, .a_text {
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    padding-right: 10px;
}
.type_field {
    color: hotpink;
}
.who_field {
    display: flex;
    flex-direction: row;
    width: 500px;
}
what_field {

}
.menu_label {
    font-size: 40px;
    font-family: Poppins;
    font-weight: bold;
    color: darkgrey;
}
.value_label {
    font-size: 40px;
    font-family: Poppins;
    font-weight: bold;
    color: hotpink;
}