#complete_request {

}
.complete_request_btn_container{
    height: fit-content;
    margin-bottom: 40px;
}
.complete_request_detail_btn{
    position: relative;
    transition: all .35s;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    width: 180px;
    height: 40px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.complete_request_detail_btn span{
    z-index: 2;
}
.complete_request_detail_btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to bottom left, #7e51d0, #4b83e9);
    border-radius: 5px;
    transition: all .35s;
}
.complete_request_detail_btn:hover{
    color: #fff;
    opacity: 1;
}
.complete_request_detail_btn:hover:after{
    width: 100%;
}
.complete_request_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.complete_request_modal_container {
    position: absolute;
    background-color: #f3f0ea;
    box-shadow: 0 0 4px 4px rgba(133, 135, 141, 0.12);
    padding: 30px;
    outline: none;
    border-radius: 10px;
    width: 20%;
    min-width: 400px;
    height: 500px;
    max-height: 100%;
    text-align: center;
}
