#favours_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: fit-content;
    max-width: 70%;
    height: calc(100vh - 85px);
}
.favours_title {
    font-weight: 660;
    color: #000000;
    font-size: 44px;
    font-family: "Poppins";
    padding-left: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.filter_btn {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    text-align: justify;
    padding-bottom: 8px;
    outline: none;
    padding-left: 15px;
}
.all_favours_btn, .owe_btn, .owing_btn, .settled_btn {
    height: 30px;
    font-size: 17px;
    font-weight: 570;
    font-family: "Roboto";
    background-color: transparent;
    color: black;
}
.all_favours_btn:hover, .owe_btn:hover, .owing_btn:hover, .settled_btn:hover {
    opacity: 0.7;
    color: #545454;
}
button {
    transition: all 200ms ease-in-out;
}
button:focus {
    outline:0;
}