.delete_reward_btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  color: black;
  font-size: 12px;
  font-weight: 450;
  font-family: "Poppins";
}
.delete_reward_btn:hover {
  background: linear-gradient(to bottom left, #954de7, #5f86cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delete_reward_btn:focus {
  font-weight: 450;
}
.delete_rewards_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delete_rewards_modal_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f3f0ea;
  box-shadow: 0 0 4px 4px rgba(133, 135, 141, 0.12);
  padding: 60px 60px 50px 60px;
  outline: none;
  border-radius: 10px;
  width: 500px;
  height: fit-content;
  text-align: center;
}
.delete_rewards_title {
  text-align: left;
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 650;
  color: black;
  margin-bottom: 35px;
}
.delete_rewards_list_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: fit-content;
  margin-bottom: 40px;
}
.delete_rewards_list {
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  background-color: #eae9e6;
  min-height: 60px;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.delete_reward_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  border-bottom: thin solid #d6d6d6;
  height: 47px;
  color: black;
}
.delete_reward_item_btn {
  width: fit-content;
  background: transparent;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: darkred;
  cursor: pointer;
}
.delete_reward_item_btn:hover {
  color: orangered;
}
.delete_reward_item_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;
  justify-content: center;
}
.delete_reward_detail {
  margin: auto;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 250;
}
.delete_reward_item_date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 300;
}
.delete_rewards_btn_container{
  display: flex;
  flex-direction: row;
  padding-left: 370px;
}
.close_delete_rewards_btn {
  width: 130px;
  height: 37px;
  background-color: transparent;
  border: thin solid black;
  color: #000000;
  font-weight: 600;
  font-size: 13px;
  border-radius: 20px;
  display: table-cell;
  cursor: pointer;
}
.delete_rewards_empty {
  height: inherit;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
