#request {
    display: flex;
    width: 94%;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.request_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 1vw 20px 1vw;
    text-align: left;
    min-width: 80%;
    max-width: 80%;
    height: 100%;
    min-height: 130px;
    transition: 0.2s;
    border-radius: 22px;
    background-image: linear-gradient(to bottom left, #984fec, #4980e5);
    box-shadow: 1px 1px 5px rgb(119, 118, 118);
    padding: 20px 20px 23px 20px;
    cursor: pointer;
}
.request_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content_container_left{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;
    max-height: 110px;
    height: 100%;
    margin-right: 5px;
    margin-left: 10px;
}
.request_title{
    font-weight: 600;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    margin-bottom: 4px;
}
.request_owner{
    font-weight: 300;
    color: white;
    font-size: 13px;
    font-family: "Poppins";
}
.content_container_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75px;
    width: 100%;
    max-height: 80px;
    height: 100%;
}
.num_of_reward_btn{
    background-color: transparent;
    border: thin solid white;
    border-radius: 8px;
    width: 100%;
    max-width: 40px;
    height:100%;
    min-height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.num_of_rewards_label{
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    font-family: "Helvetica";
    color: white;
}
.reward_label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    height: 5px;
    background-color: transparent;
    font-size: 11px;
    font-weight: 500;
    font-family: "Poppins";
    color: white;
    margin-bottom: 47px;
}
.bottom_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
}
.button_containers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.add_reward_btn{
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins";
    color: white;
}
.add_reward_btn:hover{
    color: black;
}
.complete_request_btn{
    background-color: transparent;
    font-size: 13px;
    font-weight: 530;
    font-family: "Poppins";
    color: #6bcd83;
}
.complete_request_btn:hover{
    color: #5eca84;
}
.request_date_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    margin-right: 15px;
}
.date_label{
    font-size: 13px;
    font-weight: 450;
    font-family: "Poppins";
    color: white;
}
.no_request_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 1vw 20px 1vw;
    min-width: 86%;
    max-width: 86%;
    height: 100%;
    min-height: 130px;
    transition: 0.2s;
    border-radius: 22px;
    background: #dedede;
    padding: 10px 10px 13px 10px;
    color: darkgrey;
    font-size: 15px;
}