.inline-text_copy--active, .inline-text_input--active {
    font: inherit;
    text-align: inherit;
    padding: 0;
    background: none;
    border: none;
    width: fit-content;
    outline: none;
}
.inline-text_copy--active {
    cursor: pointer;
    color: black;
    width: 200px;
}
.inline-text_copy--hidden,
.inline-text_input--hidden {
    display: none;
    color: darkgrey;
    outline: none;
    width: 200px;
}
.inline-text_input--active {
    text-align: left;
    color: darkgrey;
    width: 200px;
}

.suggestions{
    font-size: 36px;
    font-family: "Poppins";
    font-weight: bold;
    color: darkgrey;
}
.username_suggestions{
    position: sticky;
    background-color: transparent;
    border: 1px solid transparent;
    width: 20px;
    outline: none;
    padding-top: 10px;
    padding-left: 20px;
}
