#requestDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin: auto 2vw auto 2vw;*/
    margin: auto 0 auto 2vw;
    max-width: 30%;
    min-width: 30%;
    height: calc(100vh - 115px);
    min-height: fit-content;
    max-height: 70vh;
    padding: 6vh 2vw 5vh 3vw;
}
.empty_RequestList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin: auto 2vw auto 2vw;*/
    margin: auto 0 auto 2vw;
    max-width: 30%;
    min-width: 30%;
    height: calc(100vh - 115px);
    min-height: fit-content;
    max-height: 70vh;
    padding: 6vh 2vw 5vh 3vw;
    font-weight: 400;
    color: darkgrey;
}
.request_title_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    margin-bottom: 20px;
}
.request_title_icon{
    color: black;
}
.request_name{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 650;
    background: linear-gradient(to bottom left, #8856bf, #4b83e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    line-height: 1.3;
    margin-bottom: 9px;
}
.request_subtitle{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-align: left;
}
.sub_title_date{
    font-weight: 400;
    color: grey;
}
.reward_details_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
}
.reward_detail_header{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    color: darkgrey;
    margin-bottom: 15px;
}
.reward_detail_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: #eae8e5;
    width: 100%;
    min-height: 130px;
    max-height: 200px;
    overflow: auto;
    padding-top: 5px;
}
.reward_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    border-bottom: thin solid #d6d6d6;
    height: 50px;
    color: black;
}
.reward_item_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.reward_detail{
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 250;
}
.reward_item_date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 300;
}
.edit_reward_btn_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-color: #eae8e5;
    width: 100%;
    height: 55px;
    border-top: thin solid #d4d4d4;
}
.description_details_container{
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: fit-content;
    margin-bottom: 20px;
}
.description_detail_header{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    color: darkgrey;
    margin-bottom: 10px;
}
.description_detail_content{
    line-height: 2;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    min-height: 60px;
    max-height: fit-content;
}
